@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.navbar-chat {
    margin-top: 0px;
}

.kiriContainer {
    margin-top: 50px;
    /* margin-left: 5; */
    height: 100vh;
    background-color: white;
}

.chatHistory {
    border: 2px rgb(218, 218, 218) solid;
}

.kiriContainer h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2.5vw;
    margin-left: 1.5vw;
}

.msgIcon {
    width: 44px;
    height: 41px;
}

.search-family {
    position: relative;
    left: 15px;
    top: 10px;
    height: 23px;
}

.chatHistory input {
    width: 100%;
    height: 45px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 3px;
    padding-left: 50px;
    margin-left: -20px;
}

.chatHistory {
    padding-top: 10px;
    padding-left: 40px;
}

.containerChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 70vh;
    width: 70vwpx;
}


/* @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }
} */