.modal-pet {
    max-width: 88vw;
}

.modal-header-pet h1 {
    font-size: 30px !important;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1A3150;
}

.modal-header-pet {
    background-color: white;
}

.form-pet label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -15px;
    color: #1A3150;
}

.form-pet::placeholder {
    font-size: 16px;
}

.form-pet input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid #F1F1F1;
    margin-top: 0px;
    margin-bottom: -100px;
    font-size: 16px;
}

.form-pet.modal-body {
    background-color: white;
}

.pets-dropdown {
    width: 78vw;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid #F1F1F1;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 16px;
}

.action-pet {
    background-color: #FDCB5A;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
}

.modal-footer-pet {
    background-color: white;
}

@media screen and (min-width: 992px) {
    .modal-pet {
        max-width: 95vw;
    }
    .modal-header h1 {
        font-size: 32px;
        font-weight: 700;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pets input {
        width: 100px;
        height: 40px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #F1F1F1;
        margin-top: 0px;
        margin-bottom: -20px;
    }
    .pets-dropdown {
        width: 440px;
        height: 40px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #F1F1F1;
        margin-top: 0px;
        margin-bottom: -20px;
        background-color: white;
    }
}