@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.card-search .card h5 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2px;
}

.card-search .card p {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 16px;
}

.card-search {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin: 10px auto 30px;
}

.card-search img {
    height: 175px;
}

.card-search .btn-block {
    background-color: #fdcb5a !important;
    font-family: "Roboto";
    border-radius: 4px;
    margin-top: 0px;
}

.btn-loc {
    background-color: #e0e9f5, 100%;
    height: 22px;
    width: 79px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Roboto";
    border: 0px;
    margin-bottom: 14px;
}

.btn-lokasi {
    min-width: 150px;
}

.btn-pet {
    min-width: 180px;
}

.card-search .card {
    border-radius: 11px;
}

.card-search img {
    border-radius: 11px 11px 0px 0px;
}

.search-input input {
    background-color: #FDCB5A;
    width: 75.8vw;
    height: 49px;
    padding-left: 50px;
    border-radius: 5px;
}

.search-input img {
    height: 18.71px;
    position: relative;
    left: 10vw;
}

.search-input input::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.search-tool {
    margin: 0px auto 30px;
}

.search-tool button {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto';
    color: #9C9C9C;
    background-color: white;
    height: 49px;
    margin-left: 20px;
    padding: 5px 10px;
    margin-bottom: 4vw;
    min-width: 75vw;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #FDCB5A;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@media (min-width: 992px) {
    .btn-loc {
        background-color: #E0E9F5, 100%;
        height: 22px;
        width: 79px;
        border-radius: 5px;
        font-size: 12px;
        font-family: 'Roboto';
        border: 0px;
        margin-bottom: 14px;
    }
    .search-tool {
        display: flex;
        position: relative;
        left: 39.9vw;
        margin-bottom: 0px;
    }
    .search-tool button {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto';
        color: #9C9C9C;
        background-color: white;
        height: 49px;
        margin-left: 20px;
        padding: 5px 10px;
        min-width: 12.4vw;
    }
    .search-input input {
        background-color: #FDCB5A;
        width: 188px;
        height: 49px;
        padding-left: 50px;
        border-radius: 5px;
    }
    .search-input img {
        height: 18.71px;
        position: relative;
        left: 2.7vw;
    }
    .card-search {
        width: 250px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1400px) {
    .search-tool {
        display: flex;
        position: relative;
        left: 34vw;
        margin-bottom: -20px;
    }
    .search-tool button {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto';
        color: #9C9C9C;
        background-color: white;
        height: 49px;
        margin-left: 20px;
        padding: 5px 10px;
        min-width: 12.4vw;
    }
}