.doctor-approval-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
}

.doctor-approval-card:focus {
  color: #1a3150;
  font-weight: 700;
}

.approval-date {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 3em;
  width: 3em;
  background-color: #1a3150;
  color: white;
  border-radius: 4px;
}

.approval-name {
  font-weight: bold;
  color: black;
  line-height: 1.5em;
}

.approval-pet-counts {
  font-weight: bold;
  line-height: 150%;
}

.approval-time {
  font-weight: bold;
  line-height: 150%;
  color: #875c25;
}

.doctor-modal-placement {
  top: 20%;
}
