.box-login .mb-4 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #1A3150!important;
    margin-bottom: 4px;
}

.box-login {
    padding-right: 175px;
}

.text-login2 {
    text-align: center;
}

.pt-0 .btn-warning {
    color: #1A3150 !important;
    font-weight: bold !important;
}
.pt-0 {
    position: relative;
    bottom: -40px;
    padding-right: 100px !important;
}

.text-login {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    padding-top: -50px;
    margin-bottom: 26px;
    margin-top: 4px;
    position: relative;
    bottom: 20px;
}

.signup {
    color: #FDCB5A !important;
}

.box-login .btn-block {
    background-color: #FDCB5A !important;
    color: #1A3150 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 150%;
}

.input-group-addon {
    margin-left: 30px;
}

.dog {
    margin-right: 150px;
    margin-top: 110px;
}
.vet {
    position: relative;
    bottom: 650px;
    left: 150px;
}

.username {
    position: relative;
    bottom: 33px;
    padding-left: 10px;
}

.box-login input {
    padding-left: 40px;
}

.pw-icon {
    position: relative;
    padding-left: 340px;
    bottom: 33px;
}

.error-text {
    font-size: 15px;
    color: red;
    position: relative;
    bottom: 25px;
}