.history-time {
    color: green;
    font-weight: bold;
}

.clinic-name {
    font-weight: bold;
}

.roundedCli {
    border-radius: 25px;
    border: 3px solid #f1f1f1;
    padding-top: 30px;
    margin-top: 20px;
    margin-left: 72px;
    margin-bottom: 0px;
    min-width: 160px;
    height: 200px;
}

.card-doctor {
    border: 3px solid #f1f1f1;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    min-width: 170px;
    border-radius: 10px;
}

.deleteDoc {
    position: relative;
    top: -5px;
    left: -3px;
}

.deleteDoc:hover {
    cursor: pointer;
}

.doctor-modal-delete {
    margin-top: 250px !important;
}

.btn-delete-doc {
    color: black !important;
    background-color: white !important;
    border: none;
    width: 100px;
    height: 40px;
}

.btn-delete-doc:hover {
    color: white !important;
    background-color: rgb(224, 38, 5) !important;
}

.btn-cancel-delete-doc {
    background-color: white !important;
    color: black !important;
}

.btn-cancel-delete-doc:hover {
    background-color: grey !important;
    color: white !important;
}