.modal-header-add-doctor {
    background-color: white !important;
    color: black !important;
}

.form-dokter {
    min-height: 400px !important;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.form-add-doctor {
    margin-bottom: 0px !important;
    margin-top: 0px;
    padding: 0px !important;
}

.form-dokter label {
    font-size: 20px;
    color: black !important;
    margin-left: -300px;
    margin-top: 0px;
}

.input-new {
    height: 40px;
    margin-top: -60px !important;
    margin-bottom: -80px;
    font-size: 20px;
    padding-left: 15px;
}

.input-new::placeholder {
    font-size: 20px;
}

.modal-footer-add-doctor {
    background-color: white;
}

.modal-add-doctor button {
    font-size: 20px;
    width: 130px;
    border-radius: 5px;
    background-color: #FDCB5A;
    border: 0px;
}