.text-regist {
    text-align: center !important;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    position: relative;
    bottom: 3px;
}

.pt-0 {
    position: relative;
    bottom: -40px;
}

.box-regist .mb-4 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-decoration-color: #1A3150;
}

.box-regist {
    padding-right: 175px;
}

.btn-block {
    background-color: #FDCB5A !important;
    color: #1A3150 !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 150%;
}


.regist-text{
    color: #1A3150;
}

.signin {
    color: #FDCB5A !important;
}

.vet {
    position: relative;
    bottom: 700px;
    left: 220px;
    size: 75px;
}

.reg-icon {
    position: relative;
    bottom: 33px;
    padding-left: 10px;
}

.box-regist input {
    padding-left: 40px;
}

.error-regist {
    color : red;
    position: relative;
    font-size: 15px;
    bottom: 20px;
}