.font-role {
    text-align: center!important;
    font-weight: bold;
    font-size: 50px;
    color: #1A3150 !important;
    line-height: 150%;
}

.text-role {
    text-align: center!important;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    padding-top: -50px;
    margin-bottom: 26px;
    margin-top: 4px;
}

.signin {
    color: #1A3150;
}

.btn-block {
    background-color: #FDCB5A !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 150%;
}

.regist-btn {
    color: #1A3150 !important;
}

.mid-icon-text {
    font-size: 32px !important;
}

.clinic-icon {
    background-color: #ffffff;
    border: 0px;
}

.next .btn-block {
    color: #FDCB5A;
}

.vet {
    position: relative;
    bottom: 700px;
    left: 220px;
}

.pict-role {
    position: relative;
    left: 75px;
}