.form-chat {
    display: flex;
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: black !important;
    background: #FDCB5A;
    /* padding: 20px; */
    /* display: inline-block; */
    border: none;
    width: 10vw;
    height: 35px;
    margin-left: 15px;
    border-radius: 5px;
    float: right;
    position: relative;
    top: -7vh;
    right: 1.1vw;
    ;
}

.kolom-teks-chat {
    width: 100%;
    height: 60px;
    border: 1px solid #9e9e9e;
    padding-left: 20px;
    border-radius: 5px;
}